!!!
%html
  %head
    %title Bowling
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .wrapper
      .body
        .row
          - flash.map do |k, v|
            .flash{class: k}
              = v
        = yield

